################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Asp.NetMVCwithAjaxCrud/v16/Server/sqlite3
